<main id="main">
    <section id="about" class="assets cta">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Asset Service Requests</h2>
            </div>
            <div
                class="container d-flex align-items-end justify-content-between"
            >
                <p-table
                    [columns]="cols"
                    [value]="employees"
                    responsiveLayout="scroll"
                    selectionMode="single"
                    [(selection)]="selectedEmployee"
                    dataKey="categoryID"
                    (onRowSelect)="onRowSelect()"
                    class="p-datatable mb-3"
                    [tableStyle]="{ 'min-width': '70vw' }"
                    [scrollable]="true"
                >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                            <th>Delete</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-rowData
                        let-columns="columns"
                    >
                        <tr [pSelectableRow]="rowData">
                            <td
                                *ngFor="let col of columns"
                                [ngClass]="col.field === 'id' ? 'id-col' : ''"
                            >
                                {{ rowData[col.field] }}
                            </td>
                            <td>
                                <a
                                    (click)="deleteEmployee(rowData.id)"
                                    class="p-button p-button-danger"
                                    ><i
                                        class="pi pi-trash"
                                        style="color: white"
                                    ></i
                                ></a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
    <p-toast styleClass="custom-success-toast" key="success"> </p-toast>
    <p-toast styleClass="custom-error-toast" key="error"> </p-toast>
    <p-confirmDialog></p-confirmDialog>
</main>
