<main id="main">
  <section id="about" class="about cta">
    <div
      class="container d-flex flex-column align-items-center justify-items-center"
      data-aos="fade-up"
    >
      <form class="d-flex flex-column align-items-center">
        <div class="profile">
          <label for="Name" class="form-label text-light">Name</label>
          <input type="text" id="name" class="form-control" />
          <label for="Email" class="form-label text-light">Email</label>
          <input type="email" id="email" class="form-control" />
          <label for="Username" class="form-label text-light">Username</label>
          <input type="text" id="username" class="form-control" />
          <label for="contact" class="form-label text-light"
            >Contact Number</label
          >
          <input type="text" id="contact" class="form-control" />

          <label for="address" class="form-label text-light">Address</label>
          <input type="text" id="address" class="form-control" />
        </div>
        <div class="btn btn-warning mt-3 w-2" type="submit">Update</div>
      </form>
    </div>
  </section>
</main>
