body-bg {
    background-image: url('../assets/home-background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

:host ::ng-deep .custom-scrolltop {
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    border: 2px solid #ffc451;
    background-color: transparent;
}

:host ::ng-deep .custom-scrolltop:hover {
    background-color: #ffc451;
    color: #000;
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
    background: #ffc451;
}