.p-datatable::ng-deep th {
    background-color: #ffc451 !important;
    color: black !important;
}

.id-col {
    background-color: rgb(212, 212, 212);
}

.open {
    color: green;
    font-size: large;
}

.rejected {
    color: red;
}

.servicing {
    color: orange;
}

.closed {
    color: blue;
}