<main id="main">
    <section id="about" class="assets cta">
        <div class="container mb-3" data-aos="fade-up">
            <div class="section-title">
                <h2>Login</h2>
            </div>
            <div class="d-flex flex-column flex-wrap align-items-center form">
                <div class="">
                    <p-selectButton
                        [options]="roles"
                        [(ngModel)]="selectedRole"
                        optionLabel="label"
                        optionValue="value"
                    ></p-selectButton>
                </div>
                <form
                    [formGroup]="form"
                    data-bs-theme="dark"
                    class="d-flex flex-column align-items-center"
                    (ngSubmit)="updatePassword()"
                >
                    <div class="form-floating mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingInput"
                            formControlName="username"
                            placeholder=""
                            autocomplete="username"
                            [ngClass]="{
                                'is-invalid':
                                    form.get('username')?.touched &&
                                    !form.get('username')?.valid,
                                'is-valid': !form.get('username')?.errors
                            }"
                        />
                        <label for="floatingInput"
                            >Username / Email <span>*</span></label
                        >
                        <span
                            class="invalid-fb"
                            *ngIf="
                                form.get('username')?.errors &&
                                form.get('username')?.touched
                            "
                            >Please enter a valid username or email!</span
                        >
                    </div>

                    <div class="form-floating mb-3">
                        <div class="form-floating input-group">
                            <input
                                [type]="passwordVisible ? 'text' : 'password'"
                                formControlName="password"
                                class="form-control"
                                id="password"
                                (input)="onPasswordChange()"
                                placeholder=""
                                autocomplete="new-password"
                                data-bs-toggle="popover"
                                data-bs-placement="left"
                                data-bs-html="true"
                                data-bs-title="<h6 class='text-light'>Tips For A Strong Password</h6>"
                                data-bs-custom-class="custom-popover"
                                data-bs-content="<ul class='list-unstyled'>
                                    <li>Must be at least 8 characters long.</li>
                                    <li>Must contain at least one uppercase letter.</li>
                                    <li>Must contain at least one lowercase letter.</li>
                                    <li>Must contain at least one number.</li>
                                    <li>Must contain at least one special character.</li>
                                </ul>"
                                [ngClass]="{
                                    'is-invalid':
                                        form.get('password')?.touched &&
                                        !form.get('password')?.valid,
                                    'is-valid': !form.get('password')?.errors
                                }"
                            />
                            <label for="password"
                                >Password <span>*</span></label
                            >
                            <button
                                class="btn btn-outline-warning"
                                type="button"
                                id="togglePassword"
                                (click)="togglePasswordVisibility()"
                            >
                                <i
                                    [ngClass]="
                                        passwordVisible
                                            ? 'bi bi-eye-slash'
                                            : 'bi bi-eye'
                                    "
                                    aria-hidden="true"
                                ></i>
                            </button>
                        </div>
                        <app-password-strength
                            *ngIf="form.get('password')?.dirty"
                            [passwordToCheck]="currPwd"
                            (passwordStrength)="
                                onPasswordStrengthChanged($event)
                            "
                        ></app-password-strength>
                        <span
                            class="invalid-fb"
                            *ngIf="
                                form.get('password')?.errors &&
                                form.get('password')?.touched
                            "
                            >Please enter a valid password!</span
                        >
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group form-floating">
                            <input
                                [type]="
                                    confirmPasswordVisible ? 'text' : 'password'
                                "
                                formControlName="confirmPassword"
                                class="form-control"
                                id="confirmPassword"
                                placeholder=""
                                autocomplete="new-password"
                                [ngClass]="{
                                    'is-invalid':
                                        form.get('confirmPassword')?.dirty &&
                                        form.get('confirmPassword')?.errors &&
                                        !form.hasError('passwordsDoNotMatch'),
                                    'is-valid':
                                        !form.get('confirmPassword')?.errors &&
                                        !form.hasError('passwordsDoNotMatch')
                                }"
                            />
                            <label for="confirmPassword"
                                >Confirm Password <span>*</span></label
                            >
                            <button
                                class="btn btn-outline-warning"
                                type="button"
                                id="toggleConfirmPassword"
                                (click)="toggleConfirmPasswordVisibility()"
                            >
                                <i
                                    [ngClass]="
                                        confirmPasswordVisible
                                            ? 'bi bi-eye-slash'
                                            : 'bi bi-eye'
                                    "
                                    aria-hidden="true"
                                ></i>
                            </button>
                        </div>
                        <span
                            class="invalid-fb"
                            *ngIf="
                                form.get('confirmPassword')?.dirty &&
                                form.hasError('passwordsDoNotMatch')
                            "
                            >Passwords do not match!</span
                        >
                    </div>
                    <button
                        pButton
                        class="btn btn-outline-warning p-3 create-btn w-100"
                        type="submit"
                    >
                        Login
                    </button>
                </form>
            </div>
        </div>
    </section>
    <p-toast styleClass="custom-error-toast" key="error"> </p-toast>
    <p-toast styleClass="custom-success-toast" key="success"> </p-toast>
</main>
