<main id="main">
    <section id="about" class="assets cta">
        <div class="container mb-3" data-aos="fade-up">
            <div class="section-title">
                <h2>Update Service Request</h2>
            </div>
            <div class="d-flex flex-column flex-wrap align-items-center form">
                <form
                    [formGroup]="form"
                    data-bs-theme="dark"
                    class="d-flex flex-column"
                    (ngSubmit)="updateRequest()"
                >
                    <div class="form-floating mb-3">
                        <select
                            class="form-select"
                            formControlName="assetID"
                            [ngClass]="{
                                'is-invalid':
                                    !form.get('assetID')?.valid &&
                                    form.get('assetID')?.touched,
                                'is-valid': form.get('assetID')?.valid
                            }"
                        >
                            <option selected disabled value="null">
                                Select an Asset
                            </option>
                            <option
                                *ngFor="let asset of assets"
                                [value]="asset.assetID"
                            >
                                {{
                                    asset.assetID +
                                        " - ( " +
                                        asset.assetName +
                                        " )"
                                }}
                            </option>
                        </select>
                        <label for="floatingSelect">Asset <span>*</span></label>
                        <span
                            class="invalid-fb"
                            *ngIf="
                                !form.get('assetID')?.valid &&
                                form.get('assetID')?.touched
                            "
                            >Please select an asset!</span
                        >
                    </div>
                    <div class="form-floating mb-3">
                        <select
                            class="form-select"
                            formControlName="issueType"
                            [ngClass]="{
                                'is-invalid':
                                    !form.get('issueType')?.valid &&
                                    form.get('issueType')?.touched,
                                'is-valid': form.get('issueType')?.valid
                            }"
                        >
                            <option selected value="" disabled>
                                Select an Issue Type
                            </option>
                            <option
                                *ngFor="let type of issueTypes"
                                [value]="type"
                            >
                                {{ type }}
                            </option>
                        </select>
                        <label for="floatingSelect"
                            >Issue Type <span>*</span></label
                        >
                        <span
                            class="invalid-fb"
                            *ngIf="
                                !form.get('issueType')?.valid &&
                                form.get('issueType')?.touched
                            "
                            >Please select an issue type!</span
                        >
                    </div>
                    <div class="form-floating mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="floatingInput"
                            formControlName="requestDetails"
                            placeholder=""
                        />
                        <label for="floatingInput"
                            >Additional Request Details</label
                        >
                    </div>
                    <div class="form-floating mb-3">
                        <select
                            class="form-select"
                            formControlName="requestStatus"
                            [ngClass]="{
                                'is-invalid':
                                    !form.get('requestStatus')?.valid &&
                                    form.get('requestStatus')?.touched,
                                'is-valid': form.get('requestStatus')?.valid
                            }"
                        >
                            <option selected disabled value="null">
                                Select a Status
                            </option>
                            <option
                                *ngFor="let status of statuses"
                                [value]="status"
                            >
                                {{ status }}
                            </option>
                        </select>
                        <label for="floatingSelect"
                            >Request Status <span>*</span></label
                        >
                        <span
                            class="invalid-fb"
                            *ngIf="
                                !form.get('requestStatus')?.valid &&
                                form.get('requestStatus')?.touched
                            "
                            >Please select a status!</span
                        >
                    </div>
                    <button
                        pButton
                        class="btn btn-outline-warning p-3 create-btn"
                        type="submit"
                    >
                        Create
                    </button>
                </form>
            </div>
        </div>
    </section>
    <p-toast styleClass="custom-error-toast" *ngIf="!form.valid"> </p-toast>
    <p-toast styleClass="custom-success-toast" *ngIf="form.valid"> </p-toast>
</main>
