<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assetmanagementsystemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>7e2c1ad3-e1cd-4ac9-ba78-d463af68770a</ProjectGuid>
    <PublishUrl>https://assetmanagementsystemapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AssetManagementSystemAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>