.p-datatable::ng-deep th {
    background-color: #ffc451 !important;
    color: black !important;
}

.id-col {
    background-color: rgb(212, 212, 212);
}


.verified {
    color: green;
}

.rejected {
    color: red;
}

.pending {
    color: orange;
}