<main id="main">
  <section id="about" class="assets cta">
    <div class="container mb-3" data-aos="fade-up">
      <div class="section-title">
        <h2>Add New Asset</h2>
      </div>
      <div class="d-flex flex-column flex-wrap align-items-center form">
        <form
          [formGroup]="form"
          data-bs-theme="dark"
          class="d-flex flex-column"
          (ngSubmit)="updateAsset()"
        >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              formControlName="assetName"
              placeholder=""
              [ngClass]="{
                'is-invalid':
                  !form.get('assetName')?.valid &&
                  form.get('assetName')?.touched,
                'is-valid': form.get('assetName')?.valid
              }"
            />
            <label for="floatingInput">Asset Name</label>
            <span class="invalid-fb" *ngIf="validator('assetName')"
              >Please enter a valid name!</span
            >
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              formControlName="assetCategoryID"
              [ngClass]="{
                'is-invalid':
                  !form.get('assetCategoryID')?.valid &&
                  form.get('assetCategoryID')?.touched,
                'is-valid': form.get('assetCategoryID')?.valid
              }"
            >
              <option selected value="null" disabled>Select a Category</option>
              <option *ngFor="let cat of categories" [value]="cat.categoryID">
                {{ cat.categoryName }}
              </option>
            </select>
            <label for="floatingSelect">Asset Category</label>
            <span class="invalid-fb" *ngIf="validator('assetCategoryID')"
              >Please seelct a category!</span
            >
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="modelInput"
              formControlName="assetModel"
              placeholder=""
            />
            <label for="modelInput">Asset Model</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="specInput"
              formControlName="assetSpecifications"
              placeholder=""
            />
            <label for="specInput">Asset Specifications</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="imageInput"
              formControlName="assetImage"
              placeholder=""
              [ngClass]="{
                'is-invalid':
                  !form.get('assetImage')?.valid &&
                  form.get('assetImage')?.touched,
                'is-valid': form.get('assetImage')?.valid
              }"
            />
            <label for="imageInput">Asset Image</label>
            <span class="invalid-fb" *ngIf="validator('assetImage')"
              >Please upload an image!</span
            >
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="descInput"
              formControlName="assetDescription"
              placeholder=""
            ></textarea>
            <label for="descInput">Asset Description</label>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-select"
              formControlName="assetStatus"
              [ngClass]="{
                'is-invalid':
                  !form.get('assetStatus')?.valid &&
                  form.get('assetStatus')?.touched,
                'is-valid': form.get('assetStatus')?.valid
              }"
            >
              <option value="" disabled>Select a Status</option>
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="Maintenance">Maintenance</option>
            </select>
            <label for="floatingSelect">Asset Status</label>
            <span class="invalid-fb" *ngIf="validator('assetStatus')"
              >Please enter a valid name!</span
            >
          </div>
          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="manufInput"
              formControlName="manufacturingDate"
              placeholder=""
            />
            <label for="manufInput">Manufacturing Date</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="expiryInput"
              formControlName="expiryDate"
              placeholder=""
            />
            <label for="expiryInput">Expiry Date</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="valueInput"
              formControlName="assetValue"
              placeholder=""
              [ngClass]="{
                'is-invalid':
                  !form.get('assetValue')?.valid &&
                  form.get('assetValue')?.touched,
                'is-valid': form.get('assetValue')?.valid
              }"
            />
            <label for="valueInput">Asset Value</label>
            <span
              class="invalid-fb"
              *ngIf="
                !form.get('assetValue')?.valid &&
                form.get('assetValue')?.touched
              "
            >
              {{ "Please enter a valid amount(greater than 0)!" }}
            </span>
          </div>
          <button
            pButton
            class="btn btn-outline-warning p-3 create-btn"
            type="submit"
          >
            Create
          </button>
        </form>
      </div>
    </div>
  </section>
  <p-toast styleClass="custom-error-toast" *ngIf="!form.valid"> </p-toast>
  <p-toast styleClass="custom-success-toast" *ngIf="form.valid"> </p-toast>
</main>
