<main id="main">
    <section id="about" class="assets cta">
        <div class="container mb-3" data-aos="fade-up">
            <div class="section-title">
                <h2>Asset Service Request</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <table class="table table-dark p-3 d-border-box">
                        <tr>
                            <th>Request ID</th>
                            <td>{{ request.requestID }}</td>
                        </tr>
                        <tr>
                            <th>Employee</th>
                            <td>{{ request.employee?.name + " ( " + request.employeeID + " )" }}</td>
                        </tr>
                        <tr>
                            <th>Asset</th>
                            <td>{{ request.asset?.assetName }}</td>
                        </tr>
                        <tr>
                            <th>Issue Type</th>
                            <td>{{ request.issueType }}</td>
                        </tr>
                        <tr>
                            <th>Additional Request Details</th>
                            <td>{{ request.requestDetails }}</td>
                        </tr>
                        <tr>
                            <th>Request Status</th>
                            <td>{{ request.requestStatus }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 d-flex flex-column">
                    <button
                        *ngIf="isAdmin && this.request.requestStatus != 'Closed' && this.request.requestStatus != 'Rejected'"
                        class="btn btn-outline-warning p-3 my-2"
                        routerLink="../../update/{{ request.requestID }}"
                    >
                        Update
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
