:host ::ng-deep .custom-error-toast .p-toast-message {
    color: red;
    background: white;
}

:host ::ng-deep .custom-error-toast .p-toast-message-icon {
    color: red;
}

:host ::ng-deep .custom-success-toast .p-toast-message {
    color: rgb(0, 168, 0);
    background: white;
}

:host ::ng-deep .custom-success-toast .p-toast-message-icon {
    color: rgb(0, 168, 0);
}

:host ::ng-deep .p-element .p-button {
    width: 10em;
    margin: 1em 0 1em 0;
    background-color: transparent;
    color: white;
    border: 2px solid #ffc107
}

:host ::ng-deep .p-element .p-button:hover {
    background-color: #ffc107;
    color: black;
}